# Machine Learning Based Recommendation Systems

## Classification based Collaborative Filtering Systems
### Logistic Regression as a Classifier

In [35]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

DataSet Available at : https://archive.ics.uci.edu/ml/datasets/Bank%2BMarketing
[Moro et al., 2014] 

S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

In [36]:
bank_full = pd.read_csv('bank_full_w_dummy_vars.csv')
bank_full.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,0,0,0,0,0,0,1,0,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,1,0,0,0,0,0,0,0,1,1
5,35,management,married,tertiary,no,231,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,...,0,0,0,0,0,0,0,0,1,1
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,0,0
8,58,retired,married,primary,no,121,yes,no,unknown,5,...,0,1,0,0,0,0,0,1,0,0
9,43,technician,single,secondary,no,593,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1

In [37]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 37 columns):
age                             45211 non-null int64
job                             45211 non-null object
marital                         45211 non-null object
education                       45211 non-null object
default                         45211 non-null object
balance                         45211 non-null int64
housing                         45211 non-null object
loan                            45211 non-null object
contact                         45211 non-null object
day                             45211 non-null int64
month                           45211 non-null object
duration                        45211 non-null int64
campaign                        45211 non-null int64
pdays                           45211 non-null int64
previous                        45211 non-null int64
poutcome                        45211 non-null object
y                               45211 non-null object
y_binary                        45211 non-null int64
housing_loan                    45211 non-null int64
credit_in_default               45211 non-null int64
personal_loans                  45211 non-null int64
prev_failed_to_subscribe        45211 non-null int64
prev_subscribed                 45211 non-null int64
job_management                  45211 non-null int64
job_tech                        45211 non-null int64
job_entrepreneur                45211 non-null int64
job_bluecollar                  45211 non-null int64
job_unknown                     45211 non-null int64
job_retired                     45211 non-null int64
job_services                    45211 non-null int64
job_self_employed               45211 non-null int64
job_unemployed                  45211 non-null int64
job_maid                        45211 non-null int64
job_student                     45211 non-null int64
married                         45211 non-null int64
single                          45211 non-null int64
divorced                        45211 non-null int64
dtypes: int64(27), object(10)
memory usage: 12.8+ MB

In [46]:
X = bank_full.ix[:,(18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36)].values
Y = bank_full.ix[:,17].values

/Users/mandeep/anaconda3/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/mandeep/anaconda3/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [47]:
LogReg = LogisticRegression()

In [48]:
LogReg.fit(X,Y)

/Users/mandeep/anaconda3/envs/ml/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [49]:
new_user = [0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1]

y_predic = LogReg.predict(new_user)
y_predic